.info-button{  
    font-weight:600;
    color: white;
    margin: 0 24px;
    padding: 16px 24px;
    background: #19a9e1;
    font-size: 1.2rem;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow,transform;
    transition-property:box-shadow,transform;
}
.info-button a{
    color: white;
    text-decoration: unset;
}

.info-button:hover , .info-button:focus , .info-button:active{
    box-shadow: 0 0 20px rgba(77, 161, 202, 0.7);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

@media only screen and (max-width: 600px) {
    .info-button{
        font-size: 0.8rem;
        margin: 16px;
    }

  }